.tableOfServers{
    width: 100%;
    background-color: #FFFFFF;
    border: 3px solid #EDEDF0;
    border-collapse: collapse;
    margin-bottom: 3rem;

    td{
        &:first-child{
            padding-left: 42px;
        }

    }


    .tableHead{
        border-bottom: 3px solid #F2F3F6;
        .tableHeadRow{
            height: 64px;

            td{
                text-transform: uppercase;
                color: #9CA7D3;
                font-weight: 600;
            }
        }


    }

}